/* --------- adjustment --------- */

//$container-width    : 1255px;

$footer-height      : auto;




$orange             :#ff6600;
$red                :#e30513;
$black              : #000000;

body {
  font-family: 'tinos', serif;
    -webkit-font-smoothing: antialiased;
	height:100%;
  margin: 0;
  p{

  }
  @media all and (max-width: 600px){
    font-size: 15px;
  }

}
h1,h2,h3,h4,h5{

  margin: 0;
}
h2{
  font-weight: 500;
}


.wrapper {
  a{
    text-decoration: none;
    color: white;
  }

    overflow: hidden;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    &:after {
	    display: block;
        position: relative;
        height: $footer-height;
    }
}
.footer {
  position: relative;
  height: $footer-height ;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.header_text{
  margin: 80px 0;
  font-size: 40px;
}
input{
  outline: none!important;
  border: none!important;
}
.phone_form{
  cursor:pointer;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
	list-style: none outside none;

	li {
        padding: 0;
        left: 0;
    }
}

p {
    padding: 0;
    margin: 0;
}

